nav {
    height: 100%;
    position: relative;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
li.name {
    font-size: 2em;
    line-height: 1.5em;
    color: rgba(0, 82, 112, 0.9);
    margin-right: 35px;
}
a {
    font-size: 1.5em;
    padding: 10px 12px;
    line-height: 1.9em;
    text-decoration: none;
    color: #4f4e4c;
    margin: 0 15px;
}
a:hover {
    background-color: rgb(0, 0, 0, 0.15);
}
a.selected {
    border-bottom: 4px solid rgba(0, 82, 112, 0.6);
    padding-bottom: 0;
}